/build
*.iml
.idea
.idea/workspace.xml
/src/main/java/com/example/android/mood/model/poetry/PoetryConstants.java
/src/main/java/com/example/android/mood/model/aeris/AerisConstants.java
/raw/credentials.json